.loginForm {
    float: left;
    width: 300px;
    height: 400px;
    margin:auto;
    display:flex;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;    
}
.loginForm img {
    margin-bottom: 30px;
}
.loginForm input {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    width: 80%;
}
.loginForm button {
    display: inline;
    margin-bottom: 10px;

}

.NavBar, .container {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.NavBar * {
    display: inline-block;
}
.nav {
    position: relative;
    float: right;
}
.dropdown-account {
       top: 10px;
       cursor: pointer;
}
.container-header * {
    display: inline-block;
}
.container-header div {
    float: right;
}
.align-left {
    position: relative;
    float: left;
}
.align-right { 
    position: relative;
    float: right;
}
 .card-default {
    position: absolute;
    margin: auto;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    padding: 30px;
    right: 0; 
    width: 600px;
    height: 400px;
 }
.card-default .card-content {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 20px; 
}


